<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta content="true" name="HandheldFriendly">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="icon" type="image/x-icon" href="/system/favicon.ico">
    <link rel="stylesheet" href="/system/static/app.css">
    <script src="/system/static/app.js"></script>
</head>

<body>
    <div class="slogan">
        <img src="../img/banner.png" alt="">
    </div>
    <div class="q-items">
        <div class="q-item">
            <div class="item-title">精挑细选的候选人</div>
            <p>转眼就因更好的福利被大平台挖走</p>
            <div class="item-ikon"><img src="../img/ikon-01.png" alt=""></div>
        </div>

    </div>
</body>

</html>