.slogan {
    margin: 16px 21px 0;
}

.q-items {
    background-image: url(../img/bg-home.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 74px;
}

.q-item {
    background-color: #fff;
    opacity: 0.8;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 0 6px;
    margin-bottom: 33px;
    .item-title {
        font-size: 19px;
        color: #41ABCB;
        margin-bottom: 5px;
        line-height:26px;
    }
    p {
        color:rgba(109,109,109,1);
        font-size: 15px;
        line-height:21px;
    }
    .item-ikon {
        position: absolute;
    }
}